*.npy
__pycache__
.idea
/src/poli/config.rc
src/poli.egg-info/
temp
build
.tox

# Ignore the registered objectives
src/poli/registered_objectives/*.sh

.vscode/
.DS_Store
oracle/

# Ignores MLFlow and WandB runs
mlruns/
wandb/
