*.npy
__pycache__
.idea
/src/poli/config.rc
src/poli.egg-info/
temp
build
.tox

# Ignore the registered objectives
src/poli/registered_objectives/*.sh

.vscode/
.DS_Store
oracle/

# Ignores MLFlow and WandB runs
mlruns/
wandb/

# Ignore temporary files
tmp/
src/poli/objective_repository/rasp/101m.pdb

# Include specific model assets even if npy applies
!src/poli/objective_repository/gfp_cbas/assets/models/gp/*.npy

src/poli/tests/observers/results/

# Documentation
docs/build/
docs/source/generated/